body {
  display: flex;
  flex-flow: column;
  gap: 64px;
  background-color: blanchedalmond;
  text-align: center;
  font-size: large;
}

button {
  min-height: 128px;
  min-width: 256px;
  background-color: aliceblue;
  font-size: large;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.numberConfirmation {
  display: none;
}

.gameplay {
  display: none;
  gap: 8px;
}

.refresh {
  display: none;
}